.bg{
    background-image: url("../Sources/background.jpg");
    margin-left: 10px;
    border-radius: 10px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.splitScreenAbout {
    display: flex;
    flex-direction: row;
}
.leftPaneAbout{
    box-shadow: 0 2px 4px 0 rgba(203, 199, 199, 0.2);
    background-color: #21222A;;
    width: 60%;
    right: 0;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 80px;
    color: rgb(239, 243, 241);
    margin-right: 10px;
}
.rightPaneAbout{
    box-shadow: 0 2px 4px 0 rgba(203, 199, 199, 0.2);
    background-color: #21222ae9;
    border-radius: 10px;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.header{
    font-family: 'Courier New', Courier, monospace;
    color: rgba(255, 255, 255, 0);
    text-shadow: -1px -1px 0 #c0bfbfc4, 1px -1px 0 rgb(36, 222, 219), -1px 1px 0 rgb(78, 78, 78), 1px 1px 0 rgb(235, 206, 47);

}

.font{
    color: #eeeef2;;
    font-size: 20px;
}
.emoji{
    padding-top: 50px;
    height: 200px;
    width: 200px;
}