
.background{
    background: url(../Sources/windows.png) no-repeat center center fixed;
  background-size: "cover";
  height: 100vh;
  background-repeat:no-repeat; 
}

.input{
    width: 28px;
    float:right;
    margin-top:-5px;
    background-repeat: no-repeat;
    background-size: contain;
}

.user{
    width: 50px;
    border-radius: 30px;
}
.userLogo{
    width: 180px;
    border-radius: 100px;
    margin-left: 35px;
    margin-bottom: -40px;
}